@{
    Layout = null;

    if (ViewBag.Title == null)
    {
        ViewBag.Title = "";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
</head>
<body>
    <div>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </div>
    @Bundles.RenderScripts()
</body>
</html>
